{% load static %}


<div class="header clearfix">
    <a href="#" class="logo"><img src="{%  static 'my_geek_shop/img/logo.svg' %}" alt="logo"></a>
    <ul class="menu clearfix">
        <li class="menu-list"><a href="{% url 'index' %}" class="menu-link menu-link-active">HOME</a></li>
        <li class="menu-list"><a href="{% url 'products:index' %}" class="menu-link">PRODUCTS</a></li>
        <li class="menu-list"><a href="" class="menu-link">HISTORY</a></li>
        <li class="menu-list"><a href="" class="menu-link">SHOWROOM</a></li>
        <li class="menu-list"><a href="{% url 'contacts' %}" class="menu-link">CONTACT</a></li>
        {% if user.is_authenticated %}
        <li class="menu-list"><a href="{% url 'auth:edit' %}" class="menu-link">{{ user.username | default:'user' }}</a>
        </li>
        {% endif %}
        <li class="menu-list">
            {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}" class="menu-link">QUIT</a>
            {% else %}
            <a href="{% url 'auth:login' %}" class="menu-link">ENTER</a>
            {% endif %}
        </li>
        <li class="menu-list menu-search">
            <a href="#" class="menu-search-link">
                <img src="{%  static 'my_geek_shop/img/search.svg' %}" alt="search">
            </a>
        </li>
        <li class="menu-list">
            <a href="{% url 'basketapp:basket' %}" class="menu-link basket-link">
                <img src="{%  static 'my_geek_shop/img/basket.svg' %}" alt="basket">

            </a>
        </li>
        <li class="menu-list"><a href="" class="menu-link">
            {% if basket %}
                {{ basket.0.get_products_quantity }} шт
                {{ basket.0.get_basket_cost|floatformat:0 }} руб
            {% endif %}
        </a>
        </li>
    </ul>
</div>