{% extends "my_geek_shop/base.html" %}
{% load static  %}

{% block title %}Контакты{% endblock %}

{% block header_text %}Contact Us{% endblock %}

{% block content %}
<div class="main contacts-main">
    <div class="california">
        <ul class="california1">
            <li><img src="{%  static 'my_geek_shop/img/point.jpg' %}" alt="point"></li>
            <li><h2 class="california-h2">California</h2></li>
            <li><p class="requisites">Phone:</p></li>
            <li><p class="text-requisites">1900 - 1234 -5678</p></li>
            <li><p class="requisites">Email:</p></li>
            <li><p class="text-requisites">info@interior.com</p></li>
            <li><p class="requisites">Address:</p></li>
            <li><p class="text-requisites">12 W 1st St, 90001 Los Angeles, California</p></li>
        </ul>
    </div>
    <div class="california">
        <ul class="california1">
            <li><img src="{%  static 'my_geek_shop/img/point.jpg' %}" alt="point"></li>
            <li><h2 class="california-h2">California</h2></li>
            <li><p class="requisites">Phone:</p></li>
            <li><p class="text-requisites">1900 - 1234 -5678</p></li>
            <li><p class="requisites">Email:</p></li>
            <li><p class="text-requisites">info@interior.com</p></li>
            <li><p class="requisites">Address:</p></li>
            <li><p class="text-requisites">12 W 1st St, 90001 Los Angeles, California</p></li>
        </ul>
    </div>
    <div class="california">
        <ul class="california1">
            <li><img src="{%  static 'my_geek_shop/img/point.jpg' %}" alt="point"></li>
            <li><h2 class="california-h2">California</h2></li>
            <li><p class="requisites">Phone:</p></li>
            <li><p class="text-requisites">1900 - 1234 -5678</p></li>
            <li><p class="requisites">Email:</p></li>
            <li><p class="text-requisites">info@interior.com</p></li>
            <li><p class="requisites">Address:</p></li>
            <li><p class="text-requisites">12 W 1st St, 90001 Los Angeles, California</p></li>
        </ul>
    </div>
</div>
{% endblock %}