{% extends "my_geek_shop/base.html" %}
{% load static  %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<div class="header-prod-description">
    {% include 'my_geek_shop/includes/inc_header_menu.html' %}
</div>
{% endblock %}

{% block content %}

<div class="menu-products-field">
    
    <ul class="menu-products-block">
        {% include 'my_geek_shop/includes/inc_category_menu.html' %}
    </ul>
</div>

<div class="product-slider">
    <div class="product-foto product-atributes">
        <div class="product-big-foto"><img src="/media/products_images/{{ hot_product.img }}" alt="slider1"></div>
        <div class="product-small-fotos">
            <ul class="string-fotos-block">
                <li class="string-fotos"><a href="#"><img src="/static/my_geek_shop/img/controll.jpg"
                                                          alt="controll"></a></li>
                <li class="string-fotos"><a href="#"><img src="/static/my_geek_shop/img/controll11.jpg"
                                                          alt="controll11"></a></li>
                <li class="string-fotos"><a href="#"><img src="/static/my_geek_shop/img/controll2.jpg"
                                                          alt="controll2"></a></li>
            </ul>
        </div>
    </div>
    <div class="product-price product-atributes">
        <h2 class="h2-atributes">{{ hot_product.name|title }}</h2>
        <p class="HotDeal">Hot Deal</p>
        <h2 class="h2-price">{{ hot_product.price}} руб</h2>
        <a href="{% url 'basket:add' hot_product.pk %}" class="button-price">Order Us</a>
        <p class="price-content">
            {{ hot_product.short_description }}
        </p>
    </div>
</div>

<div class="other-products">
        <div class="header-related-products">
            <div class="RelatedProducts">
                <h2 class="h2-RelatedProducts">Related Products</h2>
            </div>
            <div class="explore-all-product"><a href="#" class="button-explore">Explore all</a></div>
        </div>

        {% for product in same_products %}
            <div class="block3-product">
                <a href="#">
                    <img src="media/products_images/{{ product.img }}" alt="{{ product.name }}">
                </a>
            </div>
        {% endfor %}
<!--        <div class="block3-product"><a href="#"><img src="/static/my_geek_shop/img/product-21.jpg" alt=""></a></div>-->
<!--        <div class="block3-product"><a href="#"><img src="/static/my_geek_shop/img/product-31.jpg" alt=""></a></div>-->
    </div>
{% endblock %}