{% extends "my_geek_shop/base.html" %}
{% load static  %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<div class="header-prod-description">
    {% include 'my_geek_shop/includes/inc_header_menu.html' %}
</div>
{% endblock %}

{% block content %}
<div class="menu-products-field">
    <ul class="menu-products-block">
        {% for link in menu_links %}
            <li class="menu-products-header-link"><a href="{{ lint.href }}">{{ link.text }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="product-slider">
    <div class="product-foto product-atributes">
        <div class="product-big-foto"><img src="/static/my_geek_shop/img/slider1big.jpg" alt="slider1"></div>
        <div class="product-small-fotos">
            <ul class="string-fotos-block">
                <li class="string-fotos"><a href="#"><img src="/static/my_geek_shop/img/controll.jpg"
                                                          alt="controll"></a></li>
                <li class="string-fotos"><a href="#"><img src="/static/my_geek_shop/img/controll11.jpg"
                                                          alt="controll11"></a></li>
                <li class="string-fotos"><a href="#"><img src="/static/my_geek_shop/img/controll2.jpg"
                                                          alt="controll2"></a></li>
            </ul>
        </div>
    </div>
    <div class="product-price product-atributes">
        <h2 class="h2-atributes">Fishnet Chair</h2>
        <p class="HotDeal">Hot Deal</p>
        <h2 class="h2-price">$ 36.7/sq</h2>
        <a href="/prod_description" class="button-price">Order Us</a>
        <p class="price-content">The majesty of Mountains - Ugmonk style.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident.
        </p>
    </div>
</div>

<div class="other-products">
        <div class="header-related-products">
            <div class="RelatedProducts">
                <h2 class="h2-RelatedProducts">Related Products</h2>
            </div>
            <div class="explore-all-product"><a href="#" class="button-explore">Explore all</a></div>
        </div>

        <div class="block3-product"><a href="#"><img src="/static/my_geek_shop/img/product-11.jpg" alt=""></a></div>
        <div class="block3-product"><a href="#"><img src="/static/my_geek_shop/img/product-21.jpg" alt=""></a></div>
        <div class="block3-product"><a href="#"><img src="/static/my_geek_shop/img/product-31.jpg" alt=""></a></div>
    </div>
{% endblock %}