{% extends "my_geek_shop/base.html" %}
{% load static  %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<div class="header-prod-description">
    {% include 'my_geek_shop/includes/inc_header_menu.html' %}
</div>
{% endblock %}

{% block content %}

<div class="menu-products-field">

    <ul class="menu-products-block">
        {% include 'my_geek_shop/includes/inc_category_menu.html' %}
    </ul>
</div>

<div class="product-slider">
    <div class="product-foto product-atributes">
        <div class="product-big-foto">
            <img src="/media/products_images/{{ selected_product.img }}" alt="slider1" width="570" height="570">
        </div>
        <div class="product-small-fotos">
            <ul class="string-fotos-block">
                <li class="string-fotos">
                    <a href="#">
                        <img src="/media/products_images/{{ selected_product.img }}" alt="controll" width="70" height="70">
                    </a>
                </li>
                <li class="string-fotos">
                    <a href="#">
                        <img src="/media/products_images/{{ selected_product.img }}"
                             alt="controll11" width="70" height="70">
                    </a>
                </li>
                <li class="string-fotos">
                    <a href="#">
                        <img src="/media/products_images/{{ selected_product.img }}"
                             alt="controll2" width="70" height="70">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="product-price product-atributes">
        <h2 class="h2-atributes">{{ selected_product.name|title }}</h2>
        <p class="HotDeal">Buy In One Click</p>
        <h2 class="h2-price">{{ selected_product.price}} руб</h2>
        <a href="{% url 'basket:add' hot_product.pk %}" class="button-price">Order Us</a>
        <p class="price-content">
            {{ selected_product.short_description }}
        </p>
    </div>
</div>

<div class="other-products">
    <div class="header-related-products">
        <div class="RelatedProducts">
            <h2 class="h2-RelatedProducts">Same Products</h2>
        </div>
        <div class="explore-all-product"><a href="{% url 'products:index' %}" class="button-explore">Explore all</a></div>
    </div>

    {% for product in same_products %}
    <div class="block3-product">
        <a href="{% url 'prod_description' product.pk  %}">
            <img src="/media/products_images/{{ product.img }}" alt="{{ product.name }}" width="370" height="370">
        </a>
    </div>
    {% endfor %}

</div>
{% endblock %}