{% load static %}


<div class="footer">
    <div class="footer-up"></div>
    <div class="footer-dawn">
        <div class="Copyright"><p>&copy;Copyright - INTERIOR 2016. All Rights Reserved.</p>
        </div>
        <div class="social-links"><a href="#"><img src="{%  static 'my_geek_shop/img/social-links.webp' %}"
                                                   alt="social-links"></a></div>
        <div class="terms"><a href="#">Terms &amp Conditions / Privacy policy &amp Cookies</a></div>
    </div>
</div>