{% extends "my_geek_shop/base.html" %}
{% load static  %}

{% block title %}Товары{% endblock %}

{% block header_text %}Our Products Range{% endblock %}

{% block content %}
<div class="main-products">
    <ul class="menu-products-header">
        <li class="menu-products-header-link"><a href="#">All</a></li>
        <li class="menu-products-header-link"><a href="">HOME</a></li>
        <li class="menu-products-header-link"><a href="#">OFFICE</a></li>
        <li class="menu-products-header-link"><a href="">FURNITURE</a></li>
        <li class="menu-products-header-link"><a href="">MODERN</a></li>
        <li class="menu-products-header-link"><a href="">CLASSIC</a></li>
    </ul>
    <div class="block-products">
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-11.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-21.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-31.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-41.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-5.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-6.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-11.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-21.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-31.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-41.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-5.jpg" alt=""></a>
        </div>
        <div class="element-products"><a href="#"><img src="/static/my_geek_shop/img/product-6.jpg" alt=""></a>
        </div>

    </div>
    <div class="update-arrow">
        <a href="#"><img src="/static/my_geek_shop/img/update-arrow.jpg" alt=""></a>
    </div>

</div>
<div class="block2-products">
    <div class="promo promo-1">
        <div class="Block2-text">
            <p class="Block2-exclusive">exclusive</p>
            <h2 class="Block2-Fishnet-Chair">Fishnet Chair</h2>
            <p class="Block2-content">Seat and back with upholstery made of cold cure foam. Steel frame, available
                in matt</p>
            <a href="/prod_description" class="button button-Block2">Order Us</a>
        </div>
    </div>
    <div class="promo promo-2">
        <div class="Block2-text">
            <p class="Block2-exclusive">exclusive</p>
            <h2 class="Block2-Fishnet-Chair">Fishnet Chair</h2>
            <p class="Block2-content">Seat and back with upholstery made of cold cure foam. Steel frame, available
                in matt</p>
            <a href="/prod_description" class="button button-Block2">Order Us</a>
        </div>
    </div>
</div>
{% endblock %}
