{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Products of {{ category.name }}</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Products
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Short description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Short description</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for product in objects %}
                        <tr>
                            <td  width="70" height="70"><img src="/media/products_images/{{ product.img }}" alt="{{ product.name}}" width="70" height="70"></td>
                            <td> <a href="{% url 'admin:product' product.pk %}" style="color: dodgerblue">{{ product.name }}</a></td>
                            <td> {{ product.short_description }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.price }}</td>
                            <td>
                                <button>
                                    <a href="{% url 'admin:update_product' product.pk %}"> edit </a>
                                </button>
                                <button>
                                    <a href="{% url 'admin:delete_product' product.pk %}"> delete </a>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'admin:create_product' category.pk %}">
                    <button class="btn btn-success">Create product</button>
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock %}