{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
  <div class="products_list">
    <button class="new_product">
      <a href="{% url 'admin:create_product' category.pk %}"> new product </a>
    </button>
		
    {% for object in objects %}
      <div class="product_record">
        <img src="/media/{{object.image|default:'products_images/default.jpg'}}" alt="{{ object.name }}">
        <div class="product_name">
          {{ object.name|title }}
        </div>
        <div class="product_actions">
          <button>
            <a href="{% url 'admin:product' object.pk %}"> more details </a>
          </button>
          <button>
            <a href="{% url 'admin:update_product' object.pk %}"> edit </a>
          </button>
          <button>
            <a href="{% url 'admin:delete_product' object.pk %}"> delete </a>
          </button>
        </div>
        <div class="summary">
          <b>price</b>
          <p>{{ object.price }} руб</p>
          <b>quantity</b>
          <p>{{ object.quantity }}</p>
        </div>
        <div class="product_desc">
          {{ object.short_desc|title }}
        </div>
      </div>
    {% endfor%}
  </div>
{% endblock %}